
http {
  # IP Address
  # real_ip_header X-Forwarded-For;
  # set_real_ip_from 0.0.0.0/0;
  # real_ip_recursive on;

  # Lua Settings
  lua_package_path 'conf/httptables/lua/?.lua;conf/httptables/lua/api/?.lua;conf/httptables/lua/core/?.lua;;';
  lua_shared_dict data 5m;
  lua_socket_log_errors off;

  init_by_lua_block {
    httptables = require "httptables"
    httptables.init()
  }

  init_worker_by_lua_block {
    httptables.init_worker()
  }

  server {
    server_name _;
    listen 0.0.0.0:8000;

    client_max_body_size 10m;
    client_body_buffer_size 10m;

    location / {
      default_type 'text/plain';

      # HttpTables Core
      access_by_lua_file conf/httptables/lua/core/app.lua;

      content_by_lua_block {
        ngx.print("hello, httptables");
      }
    }
  }

  server {
    listen 0.0.0.0:8001;

    client_max_body_size 10m;
    client_body_buffer_size 10m;

    location / {
        default_type application/json;
        content_by_lua_file conf/httptables/lua/api/app.lua;
    }

    location /robots.txt {
      return 200 'User-agent: *\nDisallow: /';
    }
  }
}
